#navbar {
    flex-direction: column;
}

#navbar ul li a {
    padding: 3px 10px;
}

#services {
    flex-direction: column
}

.client img {
    width: 50px;
    padding: 10px;
}

#client-section::before {
    height: 77px;
}